/* ResponsiveSidebar.css */

/* Default styles for larger screens */
.pro-sidebar {
  width: 200px;
  height: 100vh;
  background-color: red;
}

/* Responsive styles for smaller screens */
@media (max-width: 991.98px) {
  .pro-sidebar {
    width: 80px;
  }

  .pro-sidebar-collapsed .pro-menu {
    display: none;
  }

  .pro-sidebar-collapsed .pro-menu .pro-sub-menu {
    display: none;
  }
}
/* ResponsiveSidebar.css */

/* Add your custom styles here */

.toggle-button {
  display: none;

  cursor: pointer;
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }
}
