@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.app .content {
  height: 100%;
  width: 100%;
  font-family: "source-sans-pro", sans-serif;
}
.app {
  display: flex;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  height: 100vh;
}
::-webkit-scrollbar {
  /* display: none; */
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-track:hover {
  background: #555;
}
.sidebar,
.content {
  height: 100vh;
  overflow-y: scroll !important;
}
.sidebar {
  height: 100%;
  width: auto;
  /* width: 20%; */
  padding: 0rem 1rem 0rem 0rem !important;
  margin: 0 !important;
  /* padding: 0 !important; */
  font-family: "source-sans-pro", sans-serif;
  background-color: red;
}

.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none !important;
}
.transaction-container::-webkit-scrollbar {
  display: block !important;
}
.transaction-container::-webkit-scrollbar-thumb {
  background: #888 !important;
}
.transaction-container::-webkit-scrollbar-track {
  background: #e0e0e0 !important;
}
@media (min-width: 768px) {
  .md\:grid-cols-auto {
    grid-template-columns: auto 1fr;
  }
}
.pro-sidebar .pro-sidebar-inner {
  overflow-y: hidden;
  height: 100vh;
  background-color: black !important;
}
/* Custom styles for FullCalendar elements */
.fc-prev-button,
.fc-next-button,
.fc-today-button,
.fc-button-primary,
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
  background-color: black !important; /* Change to your preferred color */
  color: #fff; /* Change to your preferred color */
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.fc-event:hover {
  background-color: none !important;
}
.fc-more-link {
  background-color: black !important;
  color: white !important;
}
.fc-toolbar-title {
  color: black !important;
}
.fc-event-main {
  background-color: black !important;
}
.fc-popover {
  width: 100% !important;
  position: absolute !important;
  left: 0 !important;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
